---
name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Compile all versions
        run: task release

      - name: Install FPM
        run: |
          sudo apt-get update --quiet
          sudo apt-get install --yes --quiet ruby ruby-dev build-essential rpm
          sudo gem install --quiet fpm

      - name: Build packages
        run: task package-all

      - name: Generate SBOM
        uses: CycloneDX/gh-gomod-generate-sbom@v2
        with:
          version: v1
          args: mod -licenses -json -output bom.json
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bom.json
            .dist/*.tar.gz
            .dist/*.rpm
            .dist/*.deb
          draft: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
